&nbsp;<button mat-stroked-button color="primary" >Add</button>&nbsp;
<button mat-stroked-button color="primary">Update</button>&nbsp;
<button mat-stroked-button color="primary">Delete</button>
<table>
    <tr>
        <th>farm_id</th>
        <th>farmer_id</th>
        <th>area</th>
        <th>location</th>
        <th>irrigation_src</th>
    </tr>
    <tr *ngFor="let field of lstfields">
        <td>{{field.Farm_id}}</td>
        <td>{{field.F_id}}</td>
        <td>{{field.Farm_area}}</td>
        <td>{{field.Farm_location}}</td>
        <td>{{field.Farm_irrigation_src}}</td>

    </tr>

</table>