&nbsp;<button mat-stroked-button color="primary" (click)="add()">Add</button>&nbsp;
<br> <br>
<div *ngIf="buttonClicked!='none'">
    &nbsp;<button mat-raised-button (click)="back()">back</button>
</div>
<div *ngIf="buttonClicked=='none'; else abc" >
    <table>
        <tr>
            <th>farm_id</th>
            <th>farmer_id</th>
            <th>area</th>
            <th>location</th>
            <th>irrigation_src</th>
        </tr>
        <tr *ngFor="let field of lstfields">
            <td>{{field.Farm_id}}</td>
            <td>{{field.F_id}}</td>
            <td>{{field.Farm_area}}</td>
            <td>{{field.Farm_location}}</td>
            <td>{{field.Farm_irrigation_source}}</td>
            <td><button mat-raised-button (click)="loadData(field.Farm_id)">update</button></td>
            <td><button mat-raised-button (click)="deleteFarm(field.Farm_id)">Delete</button></td>
            
        </tr>
    </table> 
</div>
<ng-template #abc>
    <div>
        <form  [formGroup]="update1" novalidate>
            <mat-form-field appearance="fill">
                <mat-label>Enter Farm Id</mat-label>
                <input matInput  type="number" formControlName="farm_id">
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>Enter farmer_id</mat-label>
                <input matInput  type="number" formControlName="farmer_id">
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>Enter Ares of farm</mat-label>
                <input matInput  type="text" formControlName="farm_area">
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>Enter location of Farm</mat-label>
                <input matInput  type="text" formControlName="farm_location">
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>Enter the Irrigation Source of Farm</mat-label>
                <input matInput  type="text" formControlName="farm_irrigation_source">
            </mat-form-field>
            <br>
            <div *ngIf="buttonClicked=='add'; else xyz">
                <button mat-raised-button type="submit" (click)="addFarm()">Add</button>
            </div>
            <ng-template #xyz>
                <button mat-raised-button (click)="updateFarm()">update</button>
            </ng-template>
            
        </form>
    </div>
</ng-template>
