&nbsp;<button mat-stroked-button color="primary" >Add</button>&nbsp;
<button mat-stroked-button color="primary">Update</button>&nbsp;
<button mat-stroked-button color="primary">Delete</button>
<table>
    <tr>
        <th>id</th>
        <th>farmer_id</th>
        <th>farm_id</th>
        <th>area</th>
        <th>location</th>
        <th>irrigation_src</th>
    </tr>
    <tr *ngFor="let field of lstfields">
        <td>{{field.f_id}}</td>
        <td>{{field.farmer_id}}</td>
        <td>{{field.farm_id}}</td>
        <td>{{field.area}}</td>
        <td>{{field.location}}</td>
        <td>{{field.irrigation_src}}</td>

    </tr>

</table>