<div>
    <mat-card>
        <form (ngSubmit)="onSubmit()" [formGroup]="upc" novalidate>
            <mat-form-field appearance="fill">
                <mat-label>Enter username of your choice</mat-label>
                <input matInput  type="text" formControlName="username">
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>password</mat-label>
                <input matInput type="password" formControlName="password">
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>Confirm password</mat-label>
                <input matInput type="password" formControlName="confirmPassword">
            </mat-form-field>
            <br>
            <button mat-raised-button type="submit">Continue</button>
            <br>
        </form>
    </mat-card>
        <div *ngIf="validCredential">
            <mat-card>
            <h1>Complete Profile to register</h1>
            <form (ngSubmit)="onSubmit1()" [formGroup]="cf" novalidate>
                <mat-form-field appearance="fill">
                    <mat-label>First name</mat-label>
                    <input matInput  type="text" formControlName="f_fname">
                </mat-form-field>
                <br>
                <mat-form-field appearance="fill">
                    <mat-label>Middle name</mat-label>
                    <input matInput  type="text" formControlName="f_mname">
                </mat-form-field>
                <br>
                <mat-form-field appearance="fill">
                    <mat-label>last name</mat-label>
                    <input matInput  type="text" formControlName="f_lname">
                </mat-form-field>
                <br>
                <mat-form-field appearance="fill">
                    <mat-label>Address</mat-label>
                    <input matInput  type="text" formControlName="f_address">
                </mat-form-field>
                <br>
                <br>
                <mat-form-field appearance="fill">
                    <mat-label>phone</mat-label>
                    <input matInput  type="number" formControlName="f_phone">
                </mat-form-field>
                <br>
                <mat-form-field appearance="fill">
                    <mat-label>telephone</mat-label>
                    <input matInput  type="number" formControlName="f_telephone">
                </mat-form-field>
                <br>
                <mat-form-field appearance="fill">
                    <mat-label>gender</mat-label>
                    <input matInput  type="text" formControlName="f_gender">
                </mat-form-field>
                <br>
                <mat-form-field appearance="fill">
                    <mat-label>city</mat-label>
                    <input matInput  type="text" formControlName="f_city">
                </mat-form-field>
                <br>
                <button mat-raised-button type="submit">Register</button>
                <br>
            </form>
        </mat-card>
        </div>
</div>