form{
    padding-top: 20px;
    text-align: center;
}
h1{
    text-align: center;
}
mat-form-field{
    width: 50%;
}
mat-card{
    width: 50%;
    margin: auto auto;
    border-radius: 20px;
    background-color:lightgoldenrodyellow;
}