<div class="about">
    <h1>Farm Management System</h1>
    <br>
    <img src="../../assets/images/cartoon-eco-farming-agricultural-workers-260nw-1770044465.jpg" alt="image">
    <p>Farm management software helps farmer engage in strategic, tactical and operational planning.<br> It also works towards a much higher degree in organization, assessment and optimization of performed work on the fields. <br>The farmer becomes equipped with a tool which puts all of his field work and paperwork under unified control simpler than ever.</p>
</div>