&nbsp;<button mat-raised-button  (click)="add()">Add new Seed</button>&nbsp;
<br> <br>
<div *ngIf="buttonClicked!='none'">
    &nbsp;<button mat-raised-button (click)="back()">back</button>
</div>
<div *ngIf="buttonClicked=='none'; else abc" >
    <table mat-table [dataSource]="lstfields" class="mat-elevation-z8">
        <ng-container matColumnDef="seed_id">
          <th mat-header-cell *matHeaderCellDef> <b>Seed id</b> </th>
          <td mat-cell *matCellDef="let element"> {{element.Seed_id}} </td>
        </ng-container>

        <ng-container matColumnDef="seed_name">
          <th mat-header-cell *matHeaderCellDef> <b>Seed Name</b> </th>
          <td mat-cell *matCellDef="let element"> {{element.Seed_name}} </td>
        </ng-container>
      
        <ng-container matColumnDef="seed_type">
            <th mat-header-cell *matHeaderCellDef> <b>Seed Type</b> </th>
            <td mat-cell *matCellDef="let element"> {{element.Seed_type}} </td>
        </ng-container>

        <ng-container matColumnDef="seed_category">
            <th mat-header-cell *matHeaderCellDef> <b>Seed category</b> </th>
            <td mat-cell *matCellDef="let element"> {{element.Seed_category}} </td>
          </ng-container>

          <ng-container matColumnDef="seed_rate">
            <th mat-header-cell *matHeaderCellDef> <b>Seed Rate</b> </th>
            <td mat-cell *matCellDef="let element"> {{element.Seed_rate}} </td>
        </ng-container>

        <ng-container matColumnDef="seed_quantity">
            <th mat-header-cell *matHeaderCellDef> <b>Seed Quantity</b> </th>
            <td mat-cell *matCellDef="let element"> {{element.Seed_quantity}} </td>
          </ng-container>
        
          <ng-container matColumnDef="company_name">
              <th mat-header-cell *matHeaderCellDef> <b>Company Name</b> </th>
              <td mat-cell *matCellDef="let element"> {{element.Company_name}} </td>
          </ng-container>
          
          <ng-container matColumnDef="formulation">
            <th mat-header-cell *matHeaderCellDef> <b>Formulation</b> </th>
            <td mat-cell *matCellDef="let element"> {{element.Formulation}} </td>
        </ng-container>
        <ng-container matColumnDef="update">
            <th mat-header-cell *matHeaderCellDef> <b>Update</b> </th>
            <td mat-cell *matCellDef="let element" class="action-link">
                <button mat-stroked-button (click)="loadData(element.Pesticide_id)">update</button>
            </td>
        </ng-container>

        <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef> <b>Delete</b> </th>
            <td mat-cell *matCellDef="let element" class="action-link">
                <button mat-stroked-button (click)="deletePesticide(element.Pesticide_id)">Delete</button>
            </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    
</div>
<ng-template #abc>
    <mat-card>
    <div>
        <form  [formGroup]="Seed" novalidate>
            <mat-form-field appearance="fill">
                <mat-label>seed id</mat-label>
                <input matInput  type="number" formControlName="seed_id">
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>farmer_id</mat-label>
                <input matInput  type="number" formControlName="farmer_id">
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>pesticide id</mat-label>
                <input matInput  type="number" formControlName="pesticide_id">
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>fertilizer id</mat-label>
                <input matInput  type="number" formControlName="fertilizer_id">
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>seed name</mat-label>
                <input matInput  type="text" formControlName="seed_name">
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>seed type</mat-label>
                <input matInput  type="text" formControlName="seed_type">
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>seed_category</mat-label>
                <input matInput  type="text" formControlName="seed_category">
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>seed rate</mat-label>
                <input matInput  type="number" formControlName="seed_rate">
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>seed quantity</mat-label>
                <input matInput  type="number" formControlName="seed_quantity">
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>company</mat-label>
                <input matInput  type="text" formControlName="company_name">
            </mat-form-field>
            <br>
            <div *ngIf="buttonClicked=='add'; else xyz">
                <button mat-raised-button type="submit" (click)="addSeed()">Add</button>
            </div>
            <ng-template #xyz>
                <button mat-raised-button (click)="updateSeed()">update</button>
            </ng-template>
            
        </form>
    </div>
</mat-card>
</ng-template>