&nbsp;<button mat-raised-button  (click)="add()">Add new Labour</button>&nbsp;
<br> <br>
<div *ngIf="buttonClicked!='none'">
    &nbsp;<button mat-raised-button (click)="back()">back</button>
</div>
<div *ngIf="buttonClicked=='none'; else abc" >
    <table mat-table [dataSource]="lstfields" class="mat-elevation-z8">
        <ng-container matColumnDef="labour_id">
          <th mat-header-cell *matHeaderCellDef> <b>Labour id</b> </th>
          <td mat-cell *matCellDef="let element"> {{element.L_id}} </td>
        </ng-container>

        <ng-container matColumnDef="first_name">
          <th mat-header-cell *matHeaderCellDef> <b>First Name</b> </th>
          <td mat-cell *matCellDef="let element"> {{element.L_fname}} </td>
        </ng-container>
    
        <ng-container matColumnDef="middle_name">
          <th mat-header-cell *matHeaderCellDef> <b>Middle Name</b> </th>
          <td mat-cell *matCellDef="let element"> {{element.L_mname}} </td>
        </ng-container>
    
        <ng-container matColumnDef="last_name">
          <th mat-header-cell *matHeaderCellDef> <b>Last Name</b> </th>
          <td mat-cell *matCellDef="let element"> {{element.L_lname}} </td>
        </ng-container>
    
          <ng-container matColumnDef="address">
            <th mat-header-cell *matHeaderCellDef> <b>Address</b> </th>
            <td mat-cell *matCellDef="let element"> {{element.L_address}} </td>
        </ng-container>

        <ng-container matColumnDef="phone">
          <th mat-header-cell *matHeaderCellDef> <b>Phone No</b> </th>
          <td mat-cell *matCellDef="let element"> {{element.L_phoneNo}} </td>
        </ng-container>
    
    <!--    <ng-container matColumnDef="telephone">
            <th mat-header-cell *matHeaderCellDef> <b>Telephone No</b> </th>
            <td mat-cell *matCellDef="let element"> {{element.L_telephoneNo}} </td>
        </ng-container> -->
            
        <ng-container matColumnDef="work">
          <th mat-header-cell *matHeaderCellDef> <b>Role</b> </th>
          <td mat-cell *matCellDef="let element"> {{element.Work}} </td>
        </ng-container>

        <ng-container matColumnDef="salary">
          <th mat-header-cell *matHeaderCellDef> <b>Salary</b> </th>
          <td mat-cell *matCellDef="let element"> {{element.Salary}} </td>
        </ng-container>
      
        <ng-container matColumnDef="city">
          <th mat-header-cell *matHeaderCellDef> <b>City</b> </th>
          <td mat-cell *matCellDef="let element"> {{element.L_city}} </td>
        </ng-container>
      
        <ng-container matColumnDef="crop_id">
          <th mat-header-cell *matHeaderCellDef> <b>Crop Id</b> </th>
          <td mat-cell *matCellDef="let element"> {{element.CropId}} </td>
        </ng-container>
    
        <ng-container matColumnDef="update">
            <th mat-header-cell *matHeaderCellDef> <b>Update</b> </th>
            <td mat-cell *matCellDef="let element" class="action-link">
                <button mat-stroked-button (click)="loadData(element.L_id)">update</button>
            </td>
        </ng-container>

        <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef> <b>Delete</b> </th>
            <td mat-cell *matCellDef="let element" class="action-link">
                <button mat-stroked-button (click)="deleteLabour(element.L_id)">Delete</button>
            </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    
</div>
<ng-template #abc>
    <mat-card>
    <div>
        <form  [formGroup]="Labour" novalidate>
            <mat-form-field appearance="fill">
                <mat-label>labour id</mat-label>
                <input matInput  type="number" formControlName="labour_id">
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>farmer_id</mat-label>
                <input matInput  type="number" formControlName="farmer_id">
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>first name</mat-label>
                <input matInput  type="text" formControlName="l_fname">
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>middle name</mat-label>
                <input matInput  type="text" formControlName="l_mname">
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>last name</mat-label>
                <input matInput  type="text" formControlName="l_lname">
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>Address</mat-label>
                <input matInput  type="text" formControlName="l_address">
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>phone no</mat-label>
                <input matInput  type="text" formControlName="l_phoneno">
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>telephone no</mat-label>
                <input matInput  type="text" formControlName="l_telephoneno">
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>work</mat-label>
                <input matInput  type="text" formControlName="work">
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>working hours</mat-label>
                <input matInput  type="number" formControlName="working_hours">
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>salary</mat-label>
                <input matInput  type="number" formControlName="salary">
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>city</mat-label>
                <input matInput  type="text" formControlName="l_city">
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>crop id</mat-label>
                <input matInput  type="number" formControlName="crop_id">
            </mat-form-field>
            <br>
            <div *ngIf="buttonClicked=='add'; else xyz">
                <button mat-raised-button type="submit" (click)="addLabour()">Add</button>
            </div>
            <ng-template #xyz>
                <button mat-raised-button (click)="updateLabour()">update</button>
            </ng-template>
            
        </form>
    </div>
</mat-card>
</ng-template>
