&nbsp;<button mat-stroked-button color="primary" (click)="add()">Add new Market</button>&nbsp;
<br> <br>
<div *ngIf="buttonClicked!='none'">
    &nbsp;<button mat-raised-button (click)="back()">back</button>
</div>
<div *ngIf="buttonClicked=='none'; else abc" >
    <table mat-table [dataSource]="lstfields" class="mat-elevation-z8">
        <ng-container matColumnDef="crop_market_id">
          <th mat-header-cell *matHeaderCellDef> <b>Id</b> </th>
          <td mat-cell *matCellDef="let element"> {{element.Crop_market_id}} </td>
        </ng-container>

        <ng-container matColumnDef="crop_category">
          <th mat-header-cell *matHeaderCellDef> <b>Crop category</b> </th>
          <td mat-cell *matCellDef="let element"> {{element.Crop_category}} </td>
        </ng-container>
      
        <ng-container matColumnDef="market_name">
          <th mat-header-cell *matHeaderCellDef> <b>Market Name</b> </th>
          <td mat-cell *matCellDef="let element"> {{element.Market_name}} </td>
        </ng-container>
      
        <ng-container matColumnDef="market_district">
          <th mat-header-cell *matHeaderCellDef> <b>District</b> </th>
          <td mat-cell *matCellDef="let element"> {{element.Market_district}} </td>
        </ng-container>
      
        <ng-container matColumnDef="market_unit">
            <th mat-header-cell *matHeaderCellDef> <b>Market Unit</b> </th>
            <td mat-cell *matCellDef="let element"> {{element.Market_unit}} </td>
        </ng-container>

        <ng-container matColumnDef="crop_quantity">
            <th mat-header-cell *matHeaderCellDef> <b>Crop Quantity</b> </th>
            <td mat-cell *matCellDef="let element"> {{element.Crop_quantity}} </td>
          </ng-container>
        
          <ng-container matColumnDef="crop_price">
            <th mat-header-cell *matHeaderCellDef> <b>price</b> </th>
            <td mat-cell *matCellDef="let element"> {{element.Crop_price}} </td>
          </ng-container>
        
         <!-- <ng-container matColumnDef="date_of_sold">
            <th mat-header-cell *matHeaderCellDef> <b>Date of sold</b> </th>
            <td mat-cell *matCellDef="let element"> {{element.Date_of_sold}} </td>
          </ng-container>-->
        
          <ng-container matColumnDef="crop_name">
              <th mat-header-cell *matHeaderCellDef> <b>Crop Name</b> </th>
              <td mat-cell *matCellDef="let element"> {{element.crop_name}} </td>
          </ng-container>
    
        <ng-container matColumnDef="update">
            <th mat-header-cell *matHeaderCellDef> <b>Update</b> </th>
            <td mat-cell *matCellDef="let element" class="action-link">
                <button mat-stroked-button (click)="loadData(element.Crop_market_id)">update</button>
            </td>
        </ng-container>

        <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef> <b>Delete</b> </th>
            <td mat-cell *matCellDef="let element" class="action-link">
                <button mat-stroked-button (click)="deleteMarket(element.Crop_market_id)">Delete</button>
            </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
   
</div>
<ng-template #abc>
    <div>
        <form  [formGroup]="Market" novalidate>
            <mat-form-field appearance="fill">
                <mat-label>Market Id</mat-label>
                <input matInput  type="number" formControlName="crop_market_id">
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>farmer_id</mat-label>
                <input matInput  type="number" formControlName="farmer_id">
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>warehouse_id</mat-label>
                <input matInput  type="number" formControlName="warehouse_id">
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>crop_id</mat-label>
                <input matInput  type="number" formControlName="crop_id">
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>crop category</mat-label>
                <input matInput  type="text" formControlName="crop_category">
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>market name</mat-label>
                <input matInput  type="text" formControlName="market_name">
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>market district</mat-label>
                <input matInput  type="text" formControlName="market_district">
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>market unit</mat-label>
                <input matInput  type="text" formControlName="market_unit">
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>crop quantity</mat-label>
                <input matInput  type="number" formControlName="crop_quantity">
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>crop price</mat-label>
                <input matInput  type="number" formControlName="crop_price">
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>date of sold</mat-label>
                <input matInput  type="datetime" formControlName="date_of_sold">
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>crop name</mat-label>
                <input matInput  type="text" formControlName="crop_name">
            </mat-form-field>
            <br>
            <div *ngIf="buttonClicked=='add'; else xyz">
                <button mat-raised-button type="submit" (click)="addMarket()">Add</button>
            </div>
            <ng-template #xyz>
                <button mat-raised-button (click)="updateMarket()">update</button>
            </ng-template>
            
        </form>
    </div>
</ng-template>