<div class="home">
  <mat-tab-group mat-align-tabs="end">
    <mat-tab label="About"><app-about></app-about></mat-tab>
    <div *ngIf="loggedIn; else notLoggedIn">
      <mat-tab label="content"><app-content></app-content></mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
            <span (click)="logout()">logout</span>
        </ng-template>
      </mat-tab>
    </div>
    <ng-template #notLoggedIn>
      <mat-tab label="User"><app-user></app-user></mat-tab>
      <mat-tab label="Register"><app-user-sign-up></app-user-sign-up></mat-tab>
      <mat-tab label="Admin"><app-admin></app-admin></mat-tab> 
    </ng-template>
  </mat-tab-group>
  <router-outlet></router-outlet>
</div>