&nbsp;<button mat-stroked-button color="primary" (click)="add()">Add new Warehouse</button>&nbsp;
<br> <br>
<div *ngIf="buttonClicked!='none'">
    &nbsp;<button mat-raised-button (click)="back()">back</button>
</div>
<div *ngIf="buttonClicked=='none'; else abc" >
    <table>
        <tr>
            <th>crop_id</th>
            <th>warehouse id</th>
            <th>crop name</th>
            <th>crop_stored_quantity</th>
            <th>total capacity</th>
            <th>farmer_id</th>
        </tr>
        <tr *ngFor="let field of lstfields">
            <td>{{field.Crop_id}}</td>
            <td>{{field.Warehouse_id}}</td>
            <td>{{field.Crop_name}}</td>
            <td>{{field.Crop_stored_quantity}}</td>
            <td>{{field.Total_capacity}}</td>
            <td>{{field.F_id}}</td>
            <td><button mat-raised-button (click)="loadData(field.Warehouse_id)">Update</button>
            <td><button mat-raised-button (click)="deleteWarehouse(field.Warehouse_id)">Delete</button>
        </tr>
    </table>
</div>
<ng-template #abc>
    <div>
        <form  [formGroup]="Warehouse" novalidate>
            <mat-form-field appearance="fill">
                <mat-label>crop Id</mat-label>
                <input matInput  type="number" formControlName="crop_id">
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>warehouse id</mat-label>
                <input matInput  type="number" formControlName="warehouse_id">
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>crop name</mat-label>
                <input matInput  type="text" formControlName="crop_name">
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>crop stored</mat-label>
                <input matInput  type="number" formControlName="crop_stored_quantity">
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>Total capacity</mat-label>
                <input matInput  type="number" formControlName="total_capacity">
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>farmer_id</mat-label>
                <input matInput  type="number" formControlName="farmer_id">
            </mat-form-field>
            <br>
            <div *ngIf="buttonClicked=='add'; else xyz">
                <button mat-raised-button type="submit" (click)="addWarehouse()">Add</button>
            </div>
            <ng-template #xyz>
                <button mat-raised-button (click)="updateWarehouse()">update</button>
            </ng-template>
            
        </form>
    </div>
</ng-template>