&nbsp;<button mat-stroked-button color="primary" (click)="add()">Add new Pesticide</button>&nbsp;
<br> <br>
<div *ngIf="buttonClicked!='none'">
    &nbsp;<button mat-raised-button (click)="back()">back</button>
</div>
<div *ngIf="buttonClicked=='none'; else abc" >
    <table>
        <tr>
            <th>pesticide_id</th>
            <th>farmer_id</th>
            <th>fertilizer_id</th>
            <th>seed_id</th>
            <th>pesticide_name</th>
            <th>pesticide_rate</th>
            <th>pesticide_quantity</th>
            <th>company_name</th>
            <th>formulation</th>
        </tr>
        <tr *ngFor="let field of lstfields">
            <td>{{field.Pesticide_id}}</td>
            <td>{{field.F_id}}</td>
            <td>{{field.Fertilizer_id}}</td>
            <td>{{field.Seed_id}}</td>
            <td>{{field.Pesticide_name}}</td>
            <td>{{field.Pesticide_rate}}</td>
            <td>{{field.Pesticide_quantity}}</td>
            <td>{{field.Company_name}}</td>
            <td>{{field.Formulation}}</td>
            <td><button mat-raised-button (click)="loadData(field.Pesticide_id)">Update</button>
            <td><button mat-raised-button (click)="deletePesticide(field.Pesticide_id)">Delete</button>
        </tr>
    </table>
</div>
<ng-template #abc>
    <div>
        <form  [formGroup]="Pesticide" novalidate>
            <mat-form-field appearance="fill">
                <mat-label>pesticide id</mat-label>
                <input matInput  type="number" formControlName="pesticide_id">
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>farmer_id</mat-label>
                <input matInput  type="number" formControlName="farmer_id">
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>fertilizer id</mat-label>
                <input matInput  type="number" formControlName="fertilizer_id">
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>seed id</mat-label>
                <input matInput  type="number" formControlName="seed_id">
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>pesticide name</mat-label>
                <input matInput  type="text" formControlName="pesticide_name">
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>pesticide rate</mat-label>
                <input matInput  type="number" formControlName="pesticide_rate">
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>pesticide quantity</mat-label>
                <input matInput  type="text" formControlName="pesticide_quantity">
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>company</mat-label>
                <input matInput  type="text" formControlName="company_name">
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>formulation</mat-label>
                <input matInput  type="text" formControlName="formulation">
            </mat-form-field>
            <br>
            <div *ngIf="buttonClicked=='add'; else xyz">
                <button mat-raised-button type="submit" (click)="addPesticide()">Add</button>
            </div>
            <ng-template #xyz>
                <button mat-raised-button (click)="updatePesticide()">update</button>
            </ng-template>
            
        </form>
    </div>
</ng-template>