&nbsp;<button mat-stroked-button color="primary">Add</button>&nbsp;
<button mat-stroked-button color="primary">Update</button>&nbsp;
<button mat-stroked-button color="primary">Delete</button>
<table>
    <tr>
        <th>pesticide_id</th>
        <th>farmer_id</th>
        <th>fertilizer_id</th>
        <th>seed_id</th>
        <th>pesticide_name</th>
        <th>pesticide_rate</th>
        <th>pesticide_quantity</th>
        <th>company_name</th>
        <th>formulation</th>
    </tr>
    <tr *ngFor="let field of lstfields">
        <td>{{field.Pesticide_id}}</td>
        <td>{{field.F_id}}</td>
        <td>{{field.Fertilizer_id}}</td>
        <td>{{field.Seed_id}}</td>
        <td>{{field.Pesticide_name}}</td>
        <td>{{field.Pesticide_rate}}</td>
        <td>{{field.Pesticide_quantity}}</td>
        <td>{{field.Company_name}}</td>
        <td>{{field.Formulation}}</td>
    </tr>
</table>