<div class="example-container">
    <h1>User Login</h1>
        <form>
            <mat-form-field appearance="fill">
                <mat-label>Input</mat-label>
                <input matInput>
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>password</mat-label>
                <input matInput type="password">
            </mat-form-field>
            <br>
            <button mat-raised-button type="submit" (click)=login()>Login</button>
            <br>
            <h3>New Here? <u>Register instead</u></h3>
        </form>
</div>