<div class="example-container">
    <mat-card>
    <h1>User Login</h1>
        <form (ngSubmit)="onSubmit(username.value, password.value)" novalidate>
            <mat-form-field appearance="fill">
                <mat-label>Input</mat-label>
                <input matInput  type="text" [formControl]="username">
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>password</mat-label>
                <input matInput type="password" [formControl]="password">
            </mat-form-field>
            <br>
            <button mat-stroked-button type="submit">Login</button>
            <br>
            <h3>New Here? <u>Register instead</u></h3>
        </form>
    </mat-card>
</div>