form{
    text-align: center;
}
h1{
    text-align: center;
}
h3{
    color: black;
}
button{
    color: brown;
}
mat-card{
    width: 50%;
    margin: auto auto;
    border-radius: 20px;
    background-color:lightgoldenrodyellow;
}
