&nbsp;<button mat-raised-button  (click)="add()">Add new fertilizer</button>&nbsp;
<br> <br>
<div *ngIf="buttonClicked!='none'">
    &nbsp;<button mat-raised-button (click)="back()">back</button>
</div>
<div *ngIf="buttonClicked=='none'; else abc" >
    <table mat-table [dataSource]="lstfields" class="mat-elevation-z8">
        <ng-container matColumnDef="fertilizer_id">
          <th mat-header-cell *matHeaderCellDef> <b>Fertilizer id</b> </th>
          <td mat-cell *matCellDef="let element"> {{element.Fertilizer_id}} </td>
        </ng-container>

        <ng-container matColumnDef="fertilizer_name">
          <th mat-header-cell *matHeaderCellDef> <b>Fertilizer Name</b> </th>
          <td mat-cell *matCellDef="let element"> {{element.Fertilizer_name}} </td>
        </ng-container>
      
        <ng-container matColumnDef="fertilizer_rate">
            <th mat-header-cell *matHeaderCellDef> <b>Fertilizer Rate</b> </th>
            <td mat-cell *matCellDef="let element"> {{element.Fertilizer_rate}} </td>
        </ng-container>

        <ng-container matColumnDef="fertilizer_quantity">
            <th mat-header-cell *matHeaderCellDef> <b>Fertilizer Quantity</b> </th>
            <td mat-cell *matCellDef="let element"> {{element.Fertilizer_quantity}} </td>
          </ng-container>
        
          <ng-container matColumnDef="company_name">
              <th mat-header-cell *matHeaderCellDef> <b>Company Name</b> </th>
              <td mat-cell *matCellDef="let element"> {{element.Company_name}} </td>
          </ng-container>
          
          <ng-container matColumnDef="formulation">
            <th mat-header-cell *matHeaderCellDef> <b>Formulation</b> </th>
            <td mat-cell *matCellDef="let element"> {{element.Formulation}} </td>
        </ng-container>
        <ng-container matColumnDef="update">
            <th mat-header-cell *matHeaderCellDef> <b>Update</b> </th>
            <td mat-cell *matCellDef="let element" class="action-link">
                <button mat-stroked-button (click)="loadData(element.Fertilizer_id)">update</button>
            </td>
        </ng-container>

        <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef> <b>Delete</b> </th>
            <td mat-cell *matCellDef="let element" class="action-link">
                <button mat-stroked-button (click)="deletefertilizer(element.Fertilizer_id)">Delete</button>
            </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    
</div>
<ng-template #abc>
    <mat-card>
<div>

        <form  [formGroup]="Fertilizer" novalidate>
            <mat-form-field appearance="fill">
                <mat-label>fertilizer id</mat-label>
                <input matInput  type="number" formControlName="fertilizer_id">
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>farmer_id</mat-label>
                <input matInput  type="number" formControlName="farmer_id">
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>pesticide id</mat-label>
                <input matInput  type="number" formControlName="pesticide_id">
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>seed id</mat-label>
                <input matInput  type="number" formControlName="seed_id">
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>fertilizer name</mat-label>
                <input matInput  type="text" formControlName="fertilizer_name">
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>fertilizer rate</mat-label>
                <input matInput  type="number" formControlName="fertilizer_rate">
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>fertilizer quantity</mat-label>
                <input matInput  type="number" formControlName="fertilizer_quantity">
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>crop id</mat-label>
                <input matInput  type="number" formControlName="crop_id">
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>company</mat-label>
                <input matInput  type="text" formControlName="company_name">
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>formulation</mat-label>
                <input matInput  type="text" formControlName="formulation">
            </mat-form-field>
            <br>
            <div *ngIf="buttonClicked=='add'; else xyz">
                <button mat-raised-button type="submit" (click)="addFertilizer()">Add</button>
            </div>
            <ng-template #xyz>
                <button mat-raised-button (click)="updateFertilizer()">update</button>
            </ng-template>
            
        </form>
    </div>
</mat-card>
</ng-template>

