&nbsp;<button mat-stroked-button color="primary">Update</button>
<table>
    <tr>
        <th>id</th>
        <th>first name</th>
        <th>middle name</th>
        <th>last name</th>
        <th>address</th>
        <th>contact </th>
    </tr>
    <tr *ngFor="let field of lstfields">
        <td>{{field.farmer_id}}</td>
        <td>{{field.farmer_fname}}</td>
        <td>{{field.farmer_mname}}</td>
        <td>{{field.farmer_lname}}</td>
        <td>{{field.address}}</td>
        <td>{{field.farmer_id}}</td>

    </tr>

</table>