&nbsp;<button mat-stroked-button color="primary">Update</button>
<table>
    <tr>
        <th>id</th>
        <th>first name</th>
        <th>middle name</th>
        <th>last name</th>
        <th>address</th>
        <th>phone No</th>
        <th>telephone no</th>
        <th>gender</th>
        <th>city</th>
        <th>password</th>

    </tr>
    <tr *ngFor="let field of lstfields">
        <td>{{field.F_id}}</td>
        <td>{{field.F_fname}}</td>
        <td>{{field.F_mname}}</td>
        <td>{{field.F_lname}}</td>
        <td>{{field.F_address}}</td>
        <td>{{field.F_phoneNo}}</td>
        <td>{{field.F_telephoneNo}}</td>
        <td>{{field.F_gender}}</td>
        <td>{{field.F_city}}</td>
        <td>{{field.F_password}}</td>
        
    </tr>

</table>
